@import "tailwindcss";

@theme {
  --animate-loading: loading 30s linear forwards;

  @keyframes loading {
    from { width: 0%; }
    to { width: 100%; }
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
}

@keyframes sketch {
  0% {
    width: 0%;
    transform: translateX(0%);
  }
  50% {
    width: 100%;
    transform: translateX(0%);
  }
  100% {
    width: 0%;
    transform: translateX(100%);
  }
}


.animate-sketch-line {
  animation: sketch 1.5s infinite ease-in-out;
}
